<header class="bg-yellow-600">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-yellow-500 lg:border-none">
      <div class="flex items-center">
        <span>
          <span class="sr-only">Workflow</span>
          <img class="h-10 w-auto" src="/images/kubota.png" alt="">
        </span>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="/" class="text-base font-medium text-white hover:text-blue-300"> Home page </a>

          <a href="/produits" class="text-base font-medium text-white hover:text-blue-300"> Produits </a>

          <a href="/orders" class="text-base font-medium text-white hover:text-blue-300"> Orders </a>

          <a href="/add-tracto-form" class="text-base font-medium text-white hover:text-blue-300"> Ajouter un
            tractopelle
          </a>

        </div>
      </div>

    </div>
  </nav>
</header>